# Created by venv; see https://docs.python.org/3/library/venv.html

# env
.env
*.env

# python
venv/
.venv/
__pycache__/

# db
*.db

# logs
*.log

# keys
*.pem

# data
snapshots/
backend/snapshots/

# mac
.DS_Store


old files/

*.pt
